@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 1rem = 10px */

  /* 16px = 100%
  10px */

  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-black-text);
}

:root {
  --color-primary: #ff885b;
  --color-primary-light: #ffe5cf;
  --color-secondary: #557c56;
  --color-black: #111;
  --color-white: #fff;
  --color-grey-light: #b1a199;
  --color-grey-light-2: #a4a4a4;
  --color-grey-light-3: #666;
  --color-black-text: #333;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4rem;
}

/* header stylings */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

@media screen and (max-width: 43.75em) {
  .header {
    flex-direction: column;
    gap: 2rem;
  }
}

.logo-text {
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: 5px;
}

.header-nav-list {
  list-style: none;
  display: flex;
  gap: 6rem;
}

@media screen and (max-width: 37.5em) {
  .header-nav-list {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
}

.header-nav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-black);
  font-weight: 600;
  transition: color 0.3s;
}

.header-nav-link:hover {
  color: var(--color-primary);
}
/* end of header stylings */

/* hero section stylings */
.hero-section {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url(./assets/hero-bg.jpg);
  background-size: cover;
  background-position: bottom;
}

.textbox {
  text-align: center;
  width: 60%;
}

@media screen and (max-width: 75em) {
  .textbox {
    width: 80%;
  }
}

@media screen and (max-width: 56.25em) {
  .textbox {
    width: 98%;
  }
}

.hero-title {
  color: var(--color-white);
  font-size: 7rem;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 43.75em) {
  .hero-title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 31.25em) {
  .hero-title {
    font-size: 4rem;
  }
}

.hero-link {
  color: var(--color-white);
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 2px;
  background-color: var(--color-primary);
  padding: 2rem 3rem;
  border-radius: 100px;
  display: inline-block;
  margin-top: 4rem;
}
/* end of hero section stylings */

/* about section stylings */
.about-section {
  display: flex;
  align-items: center;
  padding: 8rem 2rem;
  gap: 2rem;
}

.about-textbox {
  width: 50%;
}

.about-stats {
  width: 50%;
}

@media screen and (max-width: 50em) {
  .about-section {
    flex-direction: column;
  }

  .about-textbox {
    width: 98%;
  }

  .about-stats {
    width: 98%;
  }
}

.about-text {
  line-height: 1.7;
  color: var(--color-grey-light);
  margin-top: 2rem;
  /* margin-block-start: 2rem; */
}

.about-link {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-secondary);
  display: block;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem;
  /* margin-top: 2rem; */
  margin-block-start: 2rem;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
}

.stat {
  border: 1px solid var(--color-grey-light-2);
  text-align: center;
  padding: 2rem;
  width: 50%;
}

.stat-number {
  font-size: 8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

@media screen and (max-width: 37.5em) {
  .stat-number {
    font-size: 5rem;
  }
}

.stat-description {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 37.5em) {
  .stat-number {
    font-size: 3rem;
  }

  .stat-description {
    font-size: 1.2rem;
  }
}
/* end of about section stylings */

/* menu section stylings */
.menu-items-container {
  padding-inline: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  margin-block: 2rem;
}

.menu-card {
  width: 35rem;
  background-color: var(--color-primary-light);
  border-radius: 10px;
  overflow: hidden;
}

.menu-card-image {
  width: 100%;
  height: 25rem;
}

.menu-card-details {
  padding: 1rem;
}

.menu-card-title {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.menu-card-description {
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.menu-card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item-cta {
  border: none;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-primary);
  text-transform: capitalize;
  padding: 1rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item-price {
  text-transform: uppercase;
  font-size: 2.4rem;
}

.menu-section-link {
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 2rem 2.5rem;
  color: var(--color-white);
  border-radius: 100px;
  text-transform: capitalize;
  display: block;
  width: max-content;
  margin: 2rem auto;
  margin-block-start: 4rem;
}
/* end of menu section stylings */

/* chefs section styling */
.chefs-section {
  margin-top: 10rem;
}

.chefs-container {
  padding: 2rem;
  display: flex;
  gap: 6rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.chef-card {
  width: 25rem;
  border-bottom: 2px dashed var(--color-primary);
}

.chef-image {
  width: 100%;
  height: 35rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

.chef-details {
  padding: 1rem;
  padding-top: 0;
}

.chef-name {
  font-size: 2.4rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.social-links {
  display: flex;
  justify-content: space-between;
}

.social-link {
  --size: 5rem;
  text-decoration: none;
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--color-primary-light);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.social-link:hover {
  transform: rotate(360deg);
  background-color: var(--color-primary-light);
}

.social-link i {
  font-size: 2.5rem;
  color: var(--color-black-text);
}
/* end of chefs section styling */

/* testimonies section stylings */
.testimonies-section {
  padding: 2rem;
  margin-top: 10rem;
}

.testimonies-section-container {
  display: flex;
  margin-top: 4rem;
}

.video {
  width: 45%;
}

.vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonies {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

@media screen and (max-width: 56.25em) {
  .testimonies-section-container {
    flex-direction: column;
    gap: 2rem;
  }

  .video {
    width: 100%;
  }

  .testimonies {
    width: 100%;
    order: -1;
    flex-wrap: wrap;
  }
}

.testimony-card {
  width: 45%;
  padding: 1rem;
  box-shadow: offx offy blurradius shadow-color;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

@media screen and (max-width: 37.5em) {
  .testimonies {
    flex-direction: column;
  }

  .testimony-card {
    width: 100%;
  }
}

.testimony-text {
  line-height: 1.7;
  color: var(--color-grey-light-3);
  margin-bottom: 1rem;
}

.testimony-customer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimony-avartar {
  --size: 6rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.customer-name {
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
/* end of testimonies section stylings */

/* footer stylings */
.footer {
  background-color: var(--color-black);
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.footer-copyright-text {
  color: var(--color-white);
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}

.footer-copyright-text a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-secondary);
  padding: 1rem;
  display: block;
  margin: 1rem auto;
  margin-top: 1rem;
  width: 100%;
}
/* end of footer stylings */
